

<body>

<div class="search">
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: white; border: 1px solid #1E90FF; color: #1E90FF" type="submit">Search</button>
      </form>
</div>
<div class="maincontent">
<h1>Welcome to CarFinder!</h1>
<p>You are only a click away from finding your dream car ...</p>
</dv>

</body>
    




</html>