

<h2>Sell my car!</h2>

# <form action="/data" method="POST">

# <div class="form-group1">
#   <label for="CarMake">Car Make</label>
#   <input type="text" name="user[make]" class="form-control" id="CarMake"  placeholder="Toyota">
  
# </div>
# <div class="form-group2">
#   <label for="CarModel">Model</label>
#   <input type="text" name="user[model]"  class="form-control" id="carmodel" placeholder="i.e Rav4">
# </div>
# <div class="form-group2">
#   <label for="CarLocation">Location</label>
#   <input type="text" name="user[location]"  class="form-control" id="location" placeholder="i.e Sydney">
# </div>


# <div class="form-submit">
  
#   <button type="submit" class="btn">Submit</button>
# </div>

# </form>